body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    --border: #D8D8D8;
    --gray: #F5F5F5;
    --main: #ff4632;
    --main-hover: #ff4632CC;
    --success: #00B74A;
    --text: #1A1818;
    --text-transparent: #1A1818CA;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid var(--border);
    height: 70px;
}

.navbar-content {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content .logo {
    width: 70px;
}

.navbar-content__left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-content__right ul,
.navbar-content__left ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-content__right ul li,
.navbar-content__left ul li {
    list-style: none;
}

.navbar-content__right ul li a,
.navbar-content__left ul li a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
}

.navbar-content__right ul li a span.material-symbols-outlined {
    font-size: 24px;
    margin-top: 4px;
}

.navbar-content__right ul li a:hover,
.navbar-content__left ul li a:hover {
    color: var(--main);
    transition-duration: .3s;
}

.site-content {
    margin-top: 70px;
}

.header {
    height: 750px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner {
    background: #000;
    padding: 8px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.gray {
    background: var(--gray);
}

.section-content {
    width: 60%;
    margin: 64px auto;
    padding: 64px;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 16px;
}

.section-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-transparent);
    margin-bottom: 64px;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-transparent);
    line-height: 24px;
}

.section-buttons {
    margin-top: 32px;
}

.product-header__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 60%;
    margin: auto;
    padding: 64px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.product {
    text-decoration: none;
    color: var(--text);
}

.product-images {
    display: flex;
    gap: 16px;
}

.product-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.product-slider {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-slider img {
    width: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.product-slider img.selected {
    border-color: var(--main);
}

.product-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}

.product-description {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-transparent);
    margin-bottom: 32px;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
    color: var(--main);
}

.product-availability {
    font-size: 16px;
    font-weight: 400;
    color: var(--success);
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-availability span.material-symbols-outlined {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.grid__left img,
.grid__right img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.btn {
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn span.material-symbols-outlined {
    font-size: 20px;
}

.btn-primary {
    background: var(--main);
    color: #FFF;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--main);
}

.btn-primary:hover {
    background: var(--main-hover);
    border-color: var(--main-hover);
    transition-duration: .3s;
    cursor: pointer;
}

.input-form {
    width: 100%;
    border: 1px solid var(--border);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
}

footer {
    border-top: 1px solid var(--border);
}

.footer-content {
    width: 60%;
    margin: auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}

.footer-content ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-content ul li {
    list-style: none;
}

.footer-content ul li a {
    text-decoration: none;
    color: var(--text-transparent);
    font-size: 16px;
}

.breadcrumb {
    width: 60%;
    margin: 32px auto;
}

.breadcrumb ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.breadcrumb ul li {
    font-size: 14px;
    color: var(--text-transparent);
}

.breadcrumb ul li::after {
    content: '/';
    margin-left: 8px;
}

.breadcrumb ul li:last-child:after {
    content: '';
}

.breadcrumb ul li a {
    text-decoration: none;
    color: var(--text);
}

.shipping {
    margin-top: 32px;
}

.shipping-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 16px;
}

.shipping p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-transparent);
    margin-bottom: 8px;
}